.Settings .current-client {
  align-items: center;
  margin-top: 30px;
}

.settings-buttons button {
  border-radius: 0;
  justify-content: flex-start;
  white-space: break-spaces;
  line-height: 1.25;
  text-align: left;
}

.settings-buttons button.active {
  background-color: rgba(var(--colors-primary-rgb), 0.04);
}

.settings-buttons button.active::before {
  left: 0px;
  width: 4px;
  content: "";
  height: 100%;
  border-radius: 16px;
  position: absolute;
  transition: all 0.3s ease 0s;
  background-color: var(--colors-primary);
}