<html>

<head>
  <title>Client Portal - Verify your Email</title>
</head>

<body>
  <div style="font-family:'Google Sans', 'Roboto',sans-serif;font-size:14px;color:#111; margin: 25px">
    <div style="width:100%; max-width: 500px;margin: 0 auto;text-align:center">
      <div style="border: 1px solid #e3e3e3; border-radius: 5px;padding: 25px">
        <h1 style="font-weight: 300;font-size: 1.5rem;margin-bottom:50px">Please click on the button below to verify your email address and complete your registration.</h1>
        <div style="margin-bottom: 50px">
          <a style="background: #267ffd;color: white;outline: none;border:none;border-radius:5px;padding: 15px 30px;font-size: 1.2rem;cursor:pointer;text-decoration:none;"
            href="<%= verificationUrl %>">
            Click to Verify
          </a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>