.getting-started-drawer {
  a {
    text-decoration: underline;
  }
}

.task-drawer {
  .MuiInput-underline:before {
    border-bottom: none !important;
  }
}

.drawer {
  width: 450px;
  position: relative;
}

.getting-started-drawer .drawer {
  width: 475px;
  overflow: visible;
}

.task-drawer .drawer {
  width: 550px;
  overflow: visible;
}

@media screen and (max-width: 550px) {
  .drawer {
    width: 100% !important;
  }
}