main {
  transition: margin 200ms;
  padding: 0 2.5rem;

  .content {
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
  }
}

.settings-divider {
  width: 1px;
  margin: 0 0.5rem;
  background: var(--colors-primary);
}

.custom-tab {
  padding: 0 !important;
  border-radius: 24px !important;
  transition: background 200ms linear !important;
  background: white;
}

body.dark .custom-tab {
  background: #222222;
}

.custom-tab.active {
  background: var(--colors-primary) !important;
}

@media screen and (max-width: 500px) {
  .settings-divider {
    display: none;
  }
}