main {
  transition: margin 200ms;
  padding: 0 2.5rem;

  .content {
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
  }
}

.custom-tab {
  padding: 0 !important;
  border-radius: 24px !important;
  transition: background 200ms linear !important;
  background: white;

  .tab-btn {
    padding: 10px 15px;
    border-radius: 24px;
    transition: color 200ms linear;
    color: var(--colors-primary);
  }
}

body.dark .custom-tab {
  background: #222222;
}

.custom-tab.active {
  background: var(--colors-primary) !important;

  .tab-btn {
    color: white;
  }
}