.settings-container {
  padding: 0 !important;
  margin-top: 1rem;

  .settings-tabs {
    background: var(--colors-body-background);

    .MuiTab-root {
      font-weight: 600 !important;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  .MuiTabs-indicator {
    display: none;
  }

  .MuiButtonBase-root.Mui-selected {
    background: white;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }
}

body.dark {
  .settings-container {
    .settings-tabs {
      background: var(--colors-body-background-dark);
    }

    .MuiButtonBase-root.Mui-selected {
      background: #222222;
    }
  }
}

.billing-tab {
  .free-plan-info {

    .MuiAlert-message {
      display: flex;
      align-items: center;
      flex-grow: 1;
      gap: 5rem;
    }

    .MuiAlert-icon {
      align-items: center;
    }
  }

  .payment-content {
    display: flex;
    margin-top: 3rem;
    gap: 3rem;
    justify-content: space-evenly;

    form {
      flex-basis: 50%;
    }

    .payment-details {
      width: 450px;
      padding: 0;
      overflow: hidden;

      .header {
        color: white;
        background-color: var(--colors-primary);
        padding: 32px 36px 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .currency {
          border: 1px solid #b9b9b9;
          border-radius: 4px;
          padding: 8px 22px;
        }
      }
    }
  }
}