.folders-list {
  .toggle-icon {
    position: absolute;
    left: -25px;
    transition: transform 250ms;
  }

  .highlighted-text {
    text-decoration: underline;
    font-weight: bold;
    color: var(--colors-primary);
  }
}

.new-folder-btn {
  cursor: pointer;
  border: 1px dashed transparent;
  padding: 3px 12px;
  border-radius: 8px;
  transition: border 400ms;

  &:hover {
    border: 1px dashed #b1b1b1;
  }
}

.folder-listitem {
  .folder-actions {
    opacity: 0.6;
    visibility: hidden;
    display: flex;

    .MuiIconButton-root {
      margin-left: -1px;
      margin-right: -1px;
    }
  }

  &:hover {
    .folder-actions {
      visibility: visible !important;
    }
  }

  .folder-icon {
    color: gainsboro;
  }
}

.folder-actions-menu {
  .MuiList-root {
    padding: 0;
  }

  .MuiMenuItem-root {
    font-size: 13px;

    span {
      font-size: 13px;
    }

    svg {
      color: #a8a8a8;
      margin-right: 17px;
    }
  }
}

.folder-tasks-table {
  td {
    position: relative;
  }

  tr:last-child td {
    border-bottom: none;
  }

  .task-name-cell {
    .name-text {
      border: 1px dashed transparent;
      transition: border 250ms;
      padding: 4px 8px;
      border-radius: 4px;

      &:hover {
        border: 1px dashed #b1b1b1;

        +.edit-icon {
          opacity: 1;
        }
      }
    }

    .edit-icon {
      position: absolute;
      top: 5px;
      right: 5px;
      color: #b1b1b1;
      opacity: 0;
      transition: opacity 250ms;
    }
  }

  .task-due-cell {
    .due-text {
      border: 1px dashed transparent;
      transition: border 250ms;
      padding: 4px 8px;
      border-radius: 4px;
      font-size: inherit;
      cursor: pointer;

      &:hover {
        border: 1px dashed #b1b1b1;

        +.edit-icon {
          opacity: 1;
        }
      }
    }

    .edit-icon {
      position: absolute;
      top: 5px;
      right: 5px;
      color: #b1b1b1;
      opacity: 0;
      transition: opacity 250ms;
    }
  }

  .task-assigned-cell {
    .MuiAvatar-root {
      height: 30px;
      width: 30px;
      font-size: 16px;
    }

    .assigned-btn {
      height: 32px;
      width: 32px;
    }

    .unassigned-btn {
      border: 1px dashed #a3a3a3;
      height: 32px;
      width: 32px;

      svg {
        color: #a3a3a3;
      }
    }
  }
}

.assignee-menu {
  width: 240px;
}

.assignee-menu-list {
  .MuiListSubheader-root {
    height: 28px;
    line-height: 28px;
  }

  li {
    font-size: 14px !important;
  }
}

body.dark {
  .folder-listitem {
    .folder-icon {
      color: #646464;
    }
  }
}