.folder-container {
  text-align: center;
  color: inherit !important;
  padding: 26px 15px 8px 15px;
  border-radius: 8px;
  transition: all 400ms;
  box-shadow: none;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}

.folder-item {
  height: 50px;
  padding: 0 !important;
  position: relative;
  width: 80px;
}

body.dark .folder-container:hover {
  box-shadow: rgb(0 0 0) 0px 7px 24px 0px;
}

.edit-folder-button {
  position: absolute !important;
  top: 3px;
  right: 3px;
}