.folders-list {
  .toggle-icon {
    position: absolute;
    left: -25px;
    transition: transform 250ms;
  }

  .highlighted-text {
    text-decoration: underline;
    font-weight: bold;
    color: var(--colors-primary);
  }
}

.new-folder-btn {
  cursor: pointer;
  border: 1px dashed transparent;
  padding: 3px 12px;
  border-radius: 8px;
  transition: border 400ms;

  &:hover {
    border: 1px dashed #b1b1b1;
  }
}

.folder-listitem {
  .folder-actions {
    opacity: 0.6;
    visibility: hidden;
    display: flex;

    .MuiIconButton-root {
      margin-left: -1px;
      margin-right: -1px;
    }
  }

  &:hover {
    .folder-actions {
      visibility: visible !important;
    }
  }

  .folder-icon {
    color: gainsboro;
  }
}

.folder-actions-menu {
  .MuiList-root {
    padding: 0;
  }

  .MuiMenuItem-root {
    font-size: 13px;
    min-height: 30px;

    span {
      font-size: 13px;
    }

    svg {
      color: #a8a8a8;
      margin-right: 15px;
    }
  }
}

.folder-tasks-table {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 !important;

  .task-select-cell {
    width: 10px;
  }

  .MuiListItem-root {
    padding-left: 0;
    padding-right: 0;
  }

  .MuiCollapse-root {
    border-bottom: 1px solid #e4e4e4;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .row-wrapper {
    display: flex;
    align-items: center;
    //gap: 15px;
    padding: 3px 0;

    &>div {
      flex-shrink: 0;
    }
  }

  .task-tags-cell {
    width: 250px;

    &:hover {
      .new-chip {
        visibility: visible;
      }
    }

    .chip {
      margin-right: 5px;
      margin-bottom: 5px;
    }

    .new-chip {
      margin-right: 5px;
      margin-bottom: 5px;
      opacity: 0.45;
      visibility: hidden;
    }
  }

  .task-status-cell {
    width: 130px;
  }

  .task-name-cell {
    width: 450px;

    .name-text {
      border: 1px dashed transparent;
      padding: 4px 8px;
      border-radius: 4px;
      font-size: 14px;
      line-height: 1.6;

      &:hover {
        border: 1px dashed #b1b1b1;

        +.edit-icon {
          opacity: 1;
        }
      }
    }

    .edit-icon {
      position: absolute;
      top: -9px;
      right: -9px;
      color: #b1b1b1;
      opacity: 0;
    }

    .key-task-cell {
      .set-key-task-btn {
        visibility: hidden;
      }

      &:hover .set-key-task-btn {
        visibility: visible;
      }
    }
  }

  .task-due-cell {
    width: 90px;

    .due-text {
      border: 1px dashed transparent;
      padding: 4px 8px;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
      text-wrap: nowrap;
      flex-grow: 1;


      &:hover {
        border: 1px dashed #b1b1b1;

        +.edit-icon {
          opacity: 1;
        }
      }
    }

    .edit-icon {
      position: absolute;
      top: -9px;
      right: -9px;
      color: #b1b1b1;
      opacity: 0;
    }
  }

  .task-assigned-cell {
    width: 50px;

    .MuiAvatar-root {
      height: 30px;
      width: 30px;
      font-size: 16px;
    }

    .assigned-btn {
      height: 32px;
      width: 32px;
    }

    .unassigned-btn {
      border: 1px dashed #a3a3a3;
      height: 32px;
      width: 32px;

      svg {
        color: #a3a3a3;
      }
    }
  }
}

.assignee-menu {
  width: 240px;
}

.tags-menu {
  width: 300px;
}

.tags-menu-list {
  li {
    font-size: 14px !important;
  }
}

.assignee-menu-list {
  .MuiListSubheader-root {
    height: 28px;
    line-height: 28px;
  }

  li {
    font-size: 14px !important;
  }
}

.task-actions-menu {
  .MuiList-root {
    padding: 0;
  }

  .MuiMenuItem-root {
    font-size: 13px;
    min-height: 30px;

    span {
      font-size: 13px;
    }

    svg {
      color: #a8a8a8;
      margin-right: 15px;
    }
  }
}

body.dark {
  .folder-listitem {
    .folder-icon {
      color: #646464;
    }
  }
}