:root {
  --colors-primary: #2399ef;
  --colors-primary-rgb: 35, 153, 239;
}

html, body, #root {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f3f4f9;
  color: #121f43;
  overflow-x: hidden;
}

body * {
  box-sizing: border-box;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: var(--colors-primary);
}

a.MuiListItem-root {
  color: initial;
}

h5 {
  font-size: 0.9rem;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #8da2b799;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8da2b799;
}